* {
  box-sizing: border-box;
}
/*
.body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "rz-regular","rz-regular",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  
}
*/

  
  body{
      
      background-color: snow;
      margin: 0;
      padding: 0;
      font-family: "rz-regular","rz-regular",Helvetica,Arial,sans-serif;
      line-height: 1.5;
      text-rendering: optimizeLegibility;
      border-radius: 5px;
          
      
      }

/* header FLex styling*/
.header{ 
  display: grid;
      grid-template-areas:'heading mbzaig-av nav ''hero hero hero';
      gap:5px;
  background-color: rgba(255, 250, 250, 0.178);
  padding: 20px;
  font-family: "rz-regular","rz-regular",Helvetica,Arial,sans-serif;
  border-radius: 5px;
  min-height: 25px;
}
.heading{
  grid-area: heading;
}

.mbzaig-av{
  grid-area: mbzaig-av;
  border-radius: 180px;
  height: 100px;
  
}
  


/* styling navigatin bar */ 
.Navigation {

  grid-area: nav;
  padding-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: right;

  
}


.Navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.Navigation ul li {
 
  margin-left: 25px;

}


a {
  color: black;
  text-decoration: none;
}


.hero-banner{
  grid-area: hero;
  height: 200px;
  width: screen;
  align-self: baseline;
  margin-bottom: 25px;
  background-color: black;
  background-image: url("../images/front-end-banner.svg");
  background-size: 100%;
  border: 2px solid red;
  background-position: center;
  position: relative;
  text-align: center;
  
  
}
.hero-banner h2{
  position: absolute;
  bottom: 0px;
  right: 20px;
  color: rgba(240, 16, 16, 0.952);
  text-align: center;
  border: 5px solid snow;
  background-color: ivory;
  opacity: 0.7;
}

.page-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'page-section''page-section''page-section';
  grid-gap: 20px;
}
.page-section{
  display: grid;
  
  grid-gap:20px;
  grid-area: page-section;
  grid-column: 1fr 1fr ;
  grid-row: 1fr 1fr 1fr;
  
}

.about-h3{
  grid-area: about-me;
  
  background-color: red;
  
}
.ar-aboutme{
  grid-area: ar-aboutme;
  height: 150px;
  text-align: justify;
  margin-left: 20px;
  border-radius: 10px;
  
}



.project-heading{
  grid-area:project-heading;
  
  background-color: red;
}

.ar-projects{
  grid-area: ar-portfolio;
  height: 150px;
  text-align: justify;
  margin-left: 20px;
  border-radius: 10px;
  


}

.contact-h3{
  grid-area:contact;
}
.ar-contact{
  grid-area: ar-contact;
}



.portfolio-img{
  opacity: 0.5;
}
.portfolio-img:hover{
  opacity: 1;
}


@media screen and (max-width:800px) {

    .header{ 
      display: grid;
      grid-template-areas:'heading''nav''hero';
      gap:1px; 
    
     
    }
    .heading{
      padding: 10px;
    }
    /* styling navigation bar */ 
.Navigation {
  flex-direction: column;
  
  list-style-type: none;
  padding-top: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: right;

  
}

    
    .Navigation ul li {
     
      margin-left: 0  ;
    
    }
  .hero-banner{
    grid-area: hero;
    height: 180px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("../images/front-end-banner.svg");
    background-size: 100%;
    background-position: center;
  
    }
    .hero-banner h2{
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: rgba(240, 16, 16, 0.952);
      text-align: center;
      border: 1px solid white;
      background-color: ivory;
      opacity: 0.7;
    }
    
    .portfolio-img {
     height: 180px;
    width: auto;
    }
    


}

